<section class='team'>
    <h3>הצוות שלנו</h3>        
    <div id='members'></div>
    <script>
        fetch('search/member.json')
        .then(r=>r.json())
        .then(members=>{ document.getElementById('members').innerHTML = members.map(member=> `
        <article class="member">
            <img src="${ member.img }" />
            <h4>${ member.title }</h4>
            <div class="caption">
                ${ member.body }
            </div>
        </article>`).join(''); })
        
    </script>
            
</section>
<section class="aboutText" style="background-image: url('/images/team.jpg')">
    ${ this.strings.aboutBody }
</section>