<section class="title">
    <p>
        הצטרפו אלינו לחיזוק פעילות התנועה למשילות ודמוקרטיה וגם אתם תהיו שותפים בהשפעה על דמותה של מדינת ישראל, בחיזוק נבחרי הציבור ובצמצום שלטון המשפטנים. שותפות קבועה בפעילות היומיומית שלנו בזירות השונות, תחולל שינוי לטובת העם בישראל. 
    </p>
    <p>
        התרומה מוכרת לפטור ממס הכנסה ע"פ סעיף 46 לפקודה.
    </p>
    <p>
        הצטרפו אלינו לחיזוק פעילות התנועה למשילות ודמוקרטיה וגם אתם תהיו שותפים בהשפעה על דמותה של מדינת ישראל, בחיזוק נבחרי הציבור ובצמצום שלטון המשפטנים. שותפות קבועה בפעילות היומיומית שלנו בזירות השונות, תחולל שינוי לטובת העם בישראל.
    </p>
    <p>
        התרומה מוכרת לפטור ממס הכנסה ע"פ סעיף 46 לפקודה.
    </p>
    <button class="donation">
        לתרומה מאובטחת לחצו
    </button>
</section>    